@model office.Models.PersonInfo
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ibox.fullscreen .collapse-link {
        display: none;
    }

    .ibox-other, .ibox-residential, .ibox-NewCompany {
        display: none;
    }

    .ibox-content1, .iboxCompanyInfo {
        display: block;
    }

    .ibox {
        margin-bottom: 15px !important;
    }
</style>
<script src="~/js/jquery-2.1.1.js"></script>
<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Member Info</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>



                    </div>
                </div>
                <div class="ibox-content iboxCompanyInfo ">
                    <div class="form-group Consultant">
                        <label class="col-lg-2 control-label">Consultant Type</label>
                        <div class="col-lg-10">
                            @Html.DropDownList("ConsultantTypeID", new SelectList((System.Collections.IEnumerable)ViewData["ConsultantTypeList"], "Value", "Text"), "Select Consultant", new { @class = "form-control", @id = "ConsultantTypeID", Title = "ConsultantTypeID" })
                        </div>
                    </div>

                    <div class="form-group Contractor">
                        <label class="col-lg-2 control-label">Contractor Type</label>

                        <div class="col-lg-10">
                            @Html.DropDownList("ContractorTypeId", new SelectList((System.Collections.IEnumerable)ViewData["ContractorTypeList"], "Value", "Text"), "Select Contractor", new { @class = "form-control", @id = "ContractorTypeId", Title = "ContractorTypeId" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Title</label>

                        <div class="col-lg-4">
                            <select class="form-control" id="TitleId">
                                <option value="1">Mr.</option>
                                <option value="2">Miss.</option>
                                <option value="3">Dr.</option>
                                <option value="4">Ms.</option>
                            </select>
                        </div>

                        <div>
                            <label class="col-lg-2 control-label">First Name</label>
                            <div class="col-lg-4 ">
                                @Html.HiddenFor(a => a.ResidentialStateID, new { @id = "ResidentialStateID" })
                                @Html.HiddenFor(a => a.ResidentialCityID, new { @id = "ResidentialCityID" })
                                @Html.HiddenFor(a => a.PersonID, new { @id = "PersonID" })
                                
                                <input type="text" id="fName" placeholder="First Name" value="@Model.fName" class="form-control entity">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Middle Name</label>
                        <div class="col-lg-4 ">
                            <input type="text" id="mName" placeholder="Middle Name"  value="@Model.mName" class="form-control entity">
                        </div>
                        <div>
                            <label class="col-lg-2 control-label">Last Name</label>
                            <div class="col-lg-4">
                                <input type="text" id="lName" placeholder="Last Name"  value="@Model.lName" class="form-control entity">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Short Name</label>
                        <div class="col-lg-4">
                            <input id="Pshortname" type="text"  value="@Model.ShortName" placeholder="Short Form" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Birth Date</label>
                        <div class="col-lg-4">
                            <input type="date" id="pDob" placeholder="Dob"  value="@Model.BirthDate" class="form-control">
                        </div>
                        <label class="col-lg-2 control-label">Request Date</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="date" placeholder="Request date"     class="form-control">
                        </div>
                    </div>

                    <div class="form-group rowMobile" id="ProwMobile">
                        <div class="col-lg-2" style="display: inline-flex;">
                            <select class="form-control" id="MobileType">
                                <option value="0">Select</option>
                                <option value="1">Mobile</option>
                                <option value="2">Phone</option>
                                <option value="3">Email</option>
                            </select>
                        </div>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="PMobile" placeholder="Mobile Number" class="form-control">

                        </div>
                        <label class="col-lg-2 control-label">Type</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <select class="form-control" id="pDepartment">
                                <option value="1">personal </option>
                                <option value="2">Work </option>
                                <option value="3">residential </option>
                            </select>
                            <i class="fa fa-plus" id="addMultiMobilePerson" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                        </div>

                    </div>


                    <div class="form-group">
                        <label class="col-lg-2 control-label">Additional</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="PAdditionalField" placeholder="Additional Field" class="form-control">

                        </div>

                        <label class="col-lg-2 control-label">Parameter</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="PParameter" placeholder="Parameter" class="form-control">

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Certification / Taxation</label>

                        <div class="col-lg-4">
                            <select class="form-control" id="PCertification">
                                <option value="1">Licence</option>
                                <option value="2">PAN </option>
                                <option value="3">Adhar</option>
                            </select>
                        </div>

                        <div>
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-4 ">
                                <input type="text" id="PName" placeholder="Name" class="form-control entity">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Residential Address</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>



                    </div>
                </div>
                <div class="ibox-content ibox-residential">
                    <div id="residential address">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address 1</label>

                            <div class="col-lg-10">
                                <input type="text" id="RAddress1" placeholder="Address 1" value="@Model.ResidentialAddress1" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address 2</label>

                            <div class="col-lg-10">
                                <input type="text" id="RAddress2" placeholder="Address 2" value="@Model.ResidentialAddress2"  class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">State</label>

                            <div class="col-lg-4">
                                @Html.DropDownList("ResidentialStateID", new SelectList((System.Collections.IEnumerable)ViewData["StateList"], "Value", "Text"), "Select State", new { @class = "form-control", @id = "RStateID", Title = "StateID" })
                            </div>
                            <label class="col-lg-2 control-label">District</label>

                            <div class="col-lg-4">
                                <input type="text" id="RDistrict" placeholder="District"  value="@Model.ResidentialDistrict" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">


                            <label class="col-lg-2 control-label">City</label>

                            <div class="col-lg-4">
                                @Html.DropDownList("ResidentialCityID", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select City", new { @class = "form-control", @id = "RCityID", Title = "CityID" })
                            </div>
                            <label class="col-lg-2 control-label">Zip Code</label>

                            <div class="col-lg-4">
                                <input type="text" id="RZip" placeholder="Zip Code" value="@Model.ResidentialZipCode" class="form-control">
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Company Info</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>


                    </div>
                </div>
                <div class="ibox-content ibox-NewCompany">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company </label>
                        <div class="col-lg-4">
                            @Html.DropDownList("CompanyID", new SelectList((System.Collections.IEnumerable)ViewData["CompanyList"], "Value", "Text"), "Select Company", new { @class = "form-control", @id = "CompanyID", Title = "CompanyID" })
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-primary" id="btnAddNewCompany" type="button">Add New</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Other</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">

                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>

                <div class="ibox-content ibox-other">

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Website</label>

                        <div class="col-lg-10">
                            <input id="pWebsite" type="text" placeholder="Website" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Note</label>

                        <div class="col-lg-10">
                            <textarea id="Note" type="text" value="" placeholder="Note" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="row form-group">
                <div class="col-md-3">
                </div>
                <div class="col-md-8 pull-right">
                    <div class="pull-right">
                        @Html.ActionLink("Cancel", "MemberList", "Master", null, new { @class = "btn btn-white" })
                        <button class="btn btn-primary" id="btnsavePerson" type="button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="display:grid;">
                    <h4 class="entityField" style="margin-bottom: 2px;"><span id="showcompanynameOnHeader">No Name..!</span></h4>
                    <h4 class="person" style="margin-bottom: 2px;"><span id="showtitle">Mr.</span>&nbsp;<span id="showname">No Name ..!</span></h4>
                    <span class="person" id="showdesignation" style="color: darkgray;font-size: smaller;">No Designation ..!</span>
                </div>
                <div class="ibox-content ibox-content1 ">
                    <div class="row">

                        <div>
                            <div class="col-lg-12">
                                <h5 class="help-block m-b-none">Basic Information</h5>
                                <hr style="margin-top: 11px; margin-bottom: 5px;" />
                            </div>
                        </div>
                        <div class="form-group person">
                            <span id="showcompanyname" class="col-lg-12">No Information ..! </span>
                        </div>
                        <div>
                            <span id="showshortname" class="col-lg-12">No Information ..!</span>
                        </div>
                        <div>
                            <span id="showDOB" class="col-lg-12"></span>
                        </div>
                        <div>
                            <span id="showWebsite" class="col-lg-12"></span>
                        </div>
                        <div>
                            <span id="showNote" class="col-lg-12"></span>
                        </div>

                    </div>
                    <p></p>





                    <div class="row">
                        <div>
                            <div class="col-lg-12">
                                <h5 class="help-block m-b-none" style="margin-bottom: 11px;">Contact Details</h5>
                                <hr id="Conactrow" style="margin-top: 0px; margin-bottom: 5px;" />
                            </div>
                        </div>
                        <div id="nocontacts">
                            <span id="shownocontacts" class="col-lg-12" style="overflow-wrap:break-word;">No Contacts ..! </span>
                        </div>
                        <div class="col-sm-12">
                            <table class="table" id="Datails">
                                <thead>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row person">

                        <div>
                            <div class="col-lg-12">
                                <h5 class="help-block m-b-none">Residential Address</h5>
                                <hr style="margin-top: 11px; margin-bottom: 10px;" />
                            </div>
                        </div>
                        <div>
                            <span id="showRaddress1" class="col-lg-12" style="overflow-wrap:break-word;">No Address ..! </span>
                        </div>
                        <div>
                            <span id="showRaddress2" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>
                        <div>
                            <span id="showRstate" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>
                        <div>
                            <span id="showRcity" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>
                        <div>
                            <span id="showRdistrict" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>
                        <div>
                            <span id="showRzip" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>

                    </div>
                    <p class="person"></p>
                    <div class="row">
                        <div>
                            <div class="col-lg-12">
                                <h5 class="help-block m-b-none">Office Address</h5>
                                <hr style="margin-top: 11px; margin-bottom: 10px;" />
                            </div>
                        </div>
                        <div>
                            <span id="showOfcaddress1" class="col-lg-12" style="overflow-wrap:break-word;">No Address ..! </span>
                        </div>
                        <div>
                            <span id="showOfcaddress2" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>
                        <div>
                            <span id="showOfcstate" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>
                        <div>
                            <span id="showOfccity" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>
                        <div>
                            <span id="showOfcdistrict" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>

                        <div>
                            <span id="showOfczip" class="col-lg-12" style="overflow-wrap:break-word;"></span>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal fade-in bs-example-modal-md" id="mdlAddCompany" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" style="width:90%;height:600px;overflow:scroll;">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="CompanyInfo"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.person').hide();
        $('.Consultant').hide();
        $('.Contractor').hide();
        debugger;
        var StateID1 = $('#ResidentialStateID').val();
        
        $("#RStateID").val(StateID1);
        $('#addMultiMobilePerson').on("click", function (e) {
            var cloneCount = 1;

            $('#ProwMobile')
                .clone(true)
                .attr('id', 'row' + cloneCount++, 'class', 'row')
                .insertAfter('[id^=ProwMobile]:last').find("input[type='text']").val("");
            return false;

        });
        $('#btnAddNewCompany').on("click", function (e) {

            $.ajax({
                type: 'GET',
                dataType: "text",
                url: '/Master/AddCompanyInfo',

                success: function (data) {
                    $('#CompanyInfo').html(data);
                    $('#mdlAddCompany').show();
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        });
        $('#memberid').change(function () {
            if ($("#memberid option:selected").val() == 4) {
                $('.person').show();
                $('.entityField').hide();
            }
            else
            {
                $('.person').hide();
                $('.entityField').show();
            }

            if ($("#memberid option:selected").val() == 2) {
                $('.Consultant').show();
            }
            else
            {
                $('.Consultant').hide();
            }
            if ($("#memberid option:selected").val() == 3) {
                $('.Contractor').show();
            }
            else
            {
                $('.Contractor').hide();
            }
        });

        $('#Website').keyup(function () {
            $('#showWebsite').html($('#Website').val());
        });

        $('#Note').keyup(function () {
            $('#showNote').html($('#Note').val());
        });

        $('#CompanyName').keyup(function () {
            $('#showcompanyname').html($('#CompanyName').val());
        });

        $('#CompanyName').keyup(function () {
            $('#showcompanynameOnHeader').html($('#CompanyName').val());
        });

         // Residential address auto fill info

        $('#RAddress1').keyup(function () {
            $('#showRaddress1').html($('#RAddress1').val());
        });

        $('#RAddress2').keyup(function () {
            $('#showRaddress2').html($('#RAddress2').val());
        });

        $('#RCityID').change(function () {
            $('#showRcity').html($("#RCityID option:selected").text());
        });

        $('#RStateID').change(function () {
            $('#showRstate').html($("#RStateID option:selected").text());
        });

        $('#RZip').keyup(function () {
            $('#showRzip').html($('#RZip').val());
        });

        $('#RDistrict').keyup(function () {
            $('#showRdistrict').html($('#RDistrict').val());
        });

        // Office address auto fill info

        $('#OfcAddress1').keyup(function () {
            $('#showOfcaddress1').html($('#OfcAddress1').val());
        });

        $('#OfcAddress2').keyup(function () {
            $('#showOfcaddress2').html($('#OfcAddress2').val());
        });

        $('#CityID2').change(function () {
            $('#showOfccity').html($("#CityID2 option:selected").text());
        });

        $('#StateID2').change(function () {
            $('#showOfcstate').html($("#StateID2 option:selected").text());
        });

        $('#OfcZip').keyup(function () {
            $('#showOfczip').html($('#OfcZip').val());
        });

        $('#OfcDistrict').keyup(function () {
            $('#showOfcdistrict').html($('#OfcDistrict').val());
        });
            // Filling details on events

            $('#Name').keyup(function () {
                $('#showname').html($('#Name').val());
            });

        $('#TitleId').change(function () {
            $('#showtitle').html($("#TitleId option:selected").text());
                });
                $('#DesignationID').change(function () {
                    $('#showdesignation').html($("#DesignationID option:selected").text());
                });

                $('#shortname').keyup(function () {
                    $('#showshortname').html($('#shortname').val());
                });

                $('#Dob').change(function () {
                    $('#showDOB').html($("#Dob").val());

        });


        $('#addPerson').on("click", function (e) {

                $('#nocontactsPersons').hide();
                $('#Conactpersonrow').hide();
                var contactperosntext = $("#PersonId option:selected").text();
                var ContactPersonId = $("#PersonId option:selected").val();
            var bindrow = '<tr><td class="hidden multiperson">' + ContactPersonId + '</td><td>' + contactperosntext + '</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                $('#PersonDatails tbody').append(bindrow);

        });

        $('#addMember').on("click", function (e) {

            $('#noPersons').hide();
            $('#personrow').hide();
            var Membertext = $("#MemberPersonId option:selected").text();
            var MemberId = $("#MemberPersonId option:selected").val();
            var DesignationID = $("#DesignationID option:selected").val();
            var Degtext = $("#DesignationID option:selected").text();
            var bindrow = '<tr><td class="hidden multimember" id="' + DesignationID + '">' + MemberId + '</td><td>' + Membertext + '</td><td><span style="color: darkgray;font-size: smaller;">' + Degtext +'</span></td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
            $('#MemberDatails tbody').append(bindrow);

        });

                $('#Mobile').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Mobile').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var mobiletext = $('#Mobile').val();
                            var bindrow = '<tr><td class="multimobile">' + mobiletext + '</td><td style="color: darkgray;font-size: smaller;">Mobile</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Mobile').val('');
                        }
                    }
                });

                $('#Phone').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Phone').val().trim() != "")
                        {

                        $('#nocontacts').hide();
                        $('#Conactrow').hide();
                        var Phonetext = $('#Phone').val();
                        var bindrow = '<tr><td class="multiphone">' + Phonetext + '</td><td style="color: darkgray;font-size: smaller;">Phone</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                        $('#Datails tbody').append(bindrow);
                        $('#Phone').val('');
                        }
                    }
                });

                $('#Office').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Office').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var Officetext = $('#Office').val();
                            var bindrow = '<tr><td class="multioffice">' + Officetext + '</td><td style="color: darkgray;font-size: smaller;">Office</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Office').val('');
                        }
                    }
                });

                $('#Email').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Email').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var emailtext = $('#Email').val();
                            var bindrow = '<tr><td class="multiemail">' + emailtext + '</td><td style="color: darkgray;font-size: smaller;">email</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Email').val('');
                        }
                    }
                });

                $('#AdditionalField').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#AdditionalField').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var AdditionalFieldtext = $('#AdditionalField').val();
                            var bindrow = '<tr><td class="multiadditionalfield">' + AdditionalFieldtext + '</td><td style="color: darkgray;font-size: smaller;">Additional field</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#AdditionalField').val('');
                        }
                    }
                });

                $('#Parameter').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Parameter').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var Parametertext = $('#Parameter').val();
                            var bindrow = '<tr><td class="multiparameter">' + Parametertext + '</td><td style="color: darkgray;font-size: smaller;">Parameter</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Parameter').val('');
                        }
                    }
                });

                $(document).on('click', 'i.deleterow', function (e) {
                    e.preventDefault();
                    $(this).parents('tr').remove();
                });


        $('#RStateID').change(function ()
         {
           

        });


        


        $('#btnsavePerson').on('click', function () {

            var idArrMobile = [];
            $('.rowMobile').each(function (k, v) {

                var MobileNo = $(this).closest("div").find("#PMobile").val();
                var MobileType = $(this).closest("div").find("#MobileType").val();
                var Department = $(this).closest("div").find("#pDepartment option:selected").val();
                var tdVals = MobileNo + "~" + MobileType + "~" + Department ;
                // var tdVals = $(this).text();
                idArrMobile.push(tdVals);

            });


            //Adding multipal Mobile No into array

            //$('.multimobile').each(function (k, v) {
            //    var tdVals = $(this).text();
            //    idArrMobile.push(tdVals);
            //});


           // Adding multipal Contact No into array
            var idArrContactPerson = [];
            $('.multiperson').each(function (k, v) {
                var tdVals = $(this).text();
                idArrContactPerson.push(tdVals);
            });

            var SaveMobilePerson = [];
            for (var i = 0; i < idArrMobile.length; i++) {
                var arrElement = idArrMobile[i].split("~");
                item = {}
                item["Value"] = arrElement[0];
                item["Type"] = arrElement[1];
                item["DepartmentID"] = arrElement[2];
                SaveMobilePerson.push(item);
            }


            
            //Adding OfficeNo into array
            var idArrOffice = [];
            $('.multioffice').each(function (k, v) {
                var tdVals = $(this).text();
                idArrOffice.push(tdVals);
            });

            var SaveOfficeNo = [];
            for (var i = 0; i < idArrOffice.length; i++) {
                var arrElement = idArrOffice[i].split("~");
                item = {}
                item["OfficeNo"] = arrElement[0];
                SaveOfficeNo.push(item);
            }


            //Adding Email into array
            var idArrEmail = [];
            $('.multiemail').each(function (k, v) {
                var tdVals = $(this).text();
                idArrEmail.push(tdVals);
            });

            var SaveEmail = [];
            for (var i = 0; i < idArrEmail.length; i++) {
                var arrElement = idArrEmail[i].split("~");
                item = {}
                item["Email"] = arrElement[0];
                SaveEmail.push(item);
            }

            //Adding AdditionFileds into array
            var idArrAdditionField = [];
            $('.multiadditionalfield').each(function (k, v) {
                var tdVals = $(this).text();
                idArrAdditionField.push(tdVals);
            });

            var SaveAdditionalFiled= [];
            for (var i = 0; i < idArrAdditionField.length; i++) {
                var arrElement = idArrAdditionField[i].split("~");
                item = {}
                item["AdditionlField"] = arrElement[0];
                SaveAdditionalFiled.push(item);
            }


            //Adding Parameter into array
            var idArrParameter = [];
            $('.multiparameter').each(function (k, v) {
                var tdVals = $(this).text();
                idArrParameter.push(tdVals);
            });

            var SaveParameter = [];
            for (var i = 0; i < idArrParameter.length; i++) {
                var arrElement = idArrParameter[i].split("~");
                item = {}
                item["Parameter"] = arrElement[0];
                SaveParameter.push(item);
            }

            //Adding Member into array
            var idArrMember = [];
            $('.multimember').each(function (k, v) {
                var tdVals = $(this).text() + "~" + $(this).attr("id");
                idArrMember.push(tdVals);
            });

            var SaveMemberPerson = [];
            for (var i = 0; i < idArrMember.length; i++) {
                var arrElement = idArrMember[i].split("~");
                item = {}
                item["PersonMemberID"] = arrElement[0];
                item["DesignationId"] = arrElement[1];
                SaveMemberPerson.push(item);
            }

            var TypeId = 0;

            if ($("#memberid option:selected").val() == 2) {
                TypeId = $("#ConsultantTypeID option:selected").val();
            }
            else if ($("#memberid option:selected").val() == 3) {
                TypeId = $("#ContractorTypeId option:selected").val();
            }


            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Master/SavePersonInfo',
                data:
                {
                    PersonID: $('#PersonID').val(),
                    TitleID: $("#TitleId option:selected").val(),
                    fName: $('#fName').val(),
                    mName: $('#mName').val(),
                    lName: $('#lName').val(),
                    ShortName: $('#Pshortname').val(),
                    Website: $('#pWebsite').val(),
                    BirthDate: $('#pDob').val(),
                    ResidentialAddress1  :$('#RAddress1').val(),
                    ResidentialAddress2  : $('#RAddress2').val(),
                    ResidentialStateID   : $('#RStateID').val(),
                    ResidentialDistrict  : $('#RDistrict').val(),
                    ResidentialCityID    : $('#RCityID ').val(),
                    ResidentialZipCode   : $('#RZip').val(),

                    SaveMobilePerson: SaveMobilePerson,
                    SaveAdditionalFiled: SaveAdditionalFiled,
                    SaveParameter: SaveParameter,

                },
                success: function (da) {
                    alert(da);
                 },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });

        });
        function GetCity() {
             $.ajax({
            url: "@Url.Action("FliterStateWiseCity", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    StateID: $('#RStateID').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#RCityID').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
            return true;
        }

    });


</script>
