@model office.Models.PersonInfo
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ibox.fullscreen .collapse-link {
        display: none;
    }

    .ibox-other, .ibox-residential, .ibox-NewCompany {
        display: none;
    }

    .ibox-content1, .iboxCompanyInfo {
        display: block;
    }

    .ibox {
        margin-bottom: 15px !important;
    }
</style>
<script src="~/js/jquery-2.1.1.js"></script>
<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Person Info</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content iboxCompanyInfo ">

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Title</label>

                        <div class="col-lg-4">
                            <select class="form-control" id="TitleId">
                                <option value="1">Mr.</option>
                                <option value="2">Miss.</option>
                                <option value="3">Dr.</option>
                                <option value="4">Ms.</option>
                            </select>
                        </div>

                        <div>
                            <label class="col-lg-2 control-label">First Name</label>
                            <div class="col-lg-4 ">
                                @Html.HiddenFor(a => a.ResidentialStateID, new { @id = "ResidentialStateID" })
                                @Html.HiddenFor(a => a.ResidentialCityID, new { @id = "ResidentialCityID" })
                                @Html.HiddenFor(a => a.PersonID, new { @id = "PersonID" })

                                <input type="text" id="fName" placeholder="First Name" value="@Model.fName" class="form-control entity">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Middle Name</label>
                        <div class="col-lg-4 ">
                            <input type="text" id="mName" placeholder="Middle Name" value="@Model.mName" class="form-control entity">
                        </div>
                        <div>
                            <label class="col-lg-2 control-label">Last Name</label>
                            <div class="col-lg-4">
                                <input type="text" id="lName" placeholder="Last Name" value="@Model.lName" class="form-control entity">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Short Name</label>
                        <div class="col-lg-4">
                            <input id="Pshortname" type="text" value="@Model.ShortName" placeholder="Short Form" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Birth Date</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Birth date", type = "date", id = "pDob" })


                        </div>
                        <label class="col-lg-2 control-label">Request Date</label>
                        <div class="col-lg-4" style="display: inline-flex;">

                            @Html.TextBoxFor(m => m.CreatedDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Request date", type = "date", id = "RequestDate" })

                        </div>
                    </div> 
                    <input type="hidden" value="0" id="DbAddressID" />
                    <div class="form-group rowMobile" id="rowMobile">
                        <input type="hidden" value="0" id="CompanyPhoneIDValue" class="CompanyPhoneID" />
                        <input type="hidden" value="1" id="MobileType" class="MobileType" />
                        <label class="col-lg-2 control-label"> Contact  </label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="MobileNo" placeholder="Contact Number" class="form-control MobileNo">

                        </div>
                        <div class="col-lg-3" style="display: inline-flex;">
                            <select class="form-control MobileWorkDepartment" id="MobileWorkDepartment">
                                <option value="0">Work Department</option>
                                <option value="1">HR</option>
                            </select>
                        </div>
                        <div class="col-lg-2" style="display: inline-flex;">
                            <input type="text" id="MobileNoExtension" placeholder="Extension" class="form-control MobileNoExtension">
                        </div>
                        <div class="col-lg-1" style="display: inline-flex;">
                            <i class="fa fa-plus-circle addMultiMobile" aria-hidden="true" id="addMultiMobile" style="margin-left: 8px; margin-top: 9px;"></i>
                            <i class="fa fa-minus-circle removeMultiMobile" id="removeMultiMobile" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                            @*<i class="fas fa-minus-circle removeMultiMobile" id="removeMultiMobile"  aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>*@
                        </div>
                    </div>
                    <div class="form-group rowEmail" id="rowEmail">
                        <input type="hidden" value="0" id="CompanyPhoneIDValue" class="CompanyPhoneID" />
                        <input type="hidden" value="3" id="MobileType" class="MobileType" />
                        <label class="col-lg-2 control-label"> Email  </label>


                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="MobileNo" placeholder="Email" class="form-control MobileNo">

                        </div>
                        <div class="col-lg-3" style="display: inline-flex;">
                            <select class="form-control MobileWorkDepartment" id="MobileWorkDepartment">
                                <option value="1">Work Department</option>
                                <option value="0">HR</option>
                            </select>
                        </div>
                        <div class="col-lg-2" style="display: inline-flex;">

                        </div>
                        <div class="col-lg-1" style="display: inline-flex;">
                            <i class="fa fa-plus-circle addMultiEmail" aria-hidden="true" id="addMultiEmail" style="margin-left: 8px; margin-top: 9px;"></i>
                            <i class="fa fa-minus-circle removeMultiEmail" id="removeMultiEmail" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                        </div>
                    </div>

                    @*<div class="form-group rowMobile" id="ProwMobile">
            <div class="col-lg-2" style="display: inline-flex;">
                <select class="form-control" id="MobileType">
                    <option value="0">Select</option>
                    <option value="1">Mobile</option>
                    <option value="2">Phone</option>
                    <option value="3">Email</option>
                </select>
            </div>
            <div class="col-lg-4" style="display: inline-flex;">
                <input type="text" id="PMobile" placeholder="Mobile Number" class="form-control">

            </div>
            <label class="col-lg-2 control-label">Type</label>
            <div class="col-lg-4" style="display: inline-flex;">
                <select class="form-control" id="pDepartment">
                    <option value="1">personal </option>
                    <option value="2">Work </option>
                    <option value="3">residential </option>
                </select>
                <i class="fa fa-plus-circle" id="addMultiMobilePerson" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
            </div>

        </div>*@


                    <div class="form-group">
                        <label class="col-lg-2 control-label">Additional</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="PAdditionalField" placeholder="Additional Field" class="form-control">

                        </div>

                        <label class="col-lg-2 control-label">Parameter</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="PParameter" placeholder="Parameter" class="form-control">

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Certification / Taxation</label>
                        <div class="col-lg-4">
                            <input type="hidden" id="CertificationDetailID" value="0" />
                            @Html.DropDownList("CertificationID", new SelectList((System.Collections.IEnumerable)ViewData["CertificationList"], "Value", "Text"), "Select Certification", new { @class = "form-control", @id = "CertificationID", Title = "CertificationID" })
                        </div>
                        <div>
                            <label class="col-lg-2 control-label">Value</label>
                            <div class="col-lg-4" style="display:inline-flex;">
                                <input type="text" id="CertificationValue" placeholder="Value" class="form-control">
                                <button id="addMultiCertification" class="btn btn btn-primary pull-left" style="padding: 2px 7px;margin-left: 14px;margin-top: -4px;" type="button">
                                    Add <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                                @*<i class="fa fa-plus-circle" id="addMultiCertification" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Residential Address</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>



                    </div>
                </div>
                <div class="ibox-content ibox-residential">
                    <div id="residential address">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address 1</label>

                            <div class="col-lg-10">
                                <input type="text" id="RAddress1" placeholder="Address 1" value="@Model.ResidentialAddress1" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address 2</label>

                            <div class="col-lg-10">
                                <input type="text" id="RAddress2" placeholder="Address 2" value="@Model.ResidentialAddress2" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">State</label>

                            <div class="col-lg-4">
                                @Html.DropDownList("ResidentialStateID", new SelectList((System.Collections.IEnumerable)ViewData["StateList"], "Value", "Text"), "Select State", new { @class = "form-control", @id = "RStateID", Title = "StateID" })
                            </div>
                            <label class="col-lg-2 control-label">District</label>

                            <div class="col-lg-4">
                                <input type="text" id="RDistrict" placeholder="District" value="@Model.ResidentialDistrict" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">


                            <label class="col-lg-2 control-label">City</label>

                            <div class="col-lg-4">
                                @Html.DropDownList("ResidentialCityID", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select City", new { @class = "form-control", @id = "RCityID", Title = "CityID" })
                            </div>
                            <label class="col-lg-2 control-label">Zip Code</label>
                            <div class="col-lg-4">
                                <input type="text" id="RZip" placeholder="Zip Code" value="@Model.ResidentialZipCode" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewData["redirect"].ToString() == "0")
            {
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Company Info
                            &nbsp;&nbsp;
                        </h5>
                        <div class="ibox-tools">

                            <button id="addCompany" type="button" class="btn btn-primary pull-left" style="padding: 2px 7px;margin-left: 14px;margin-top: -4px;">
                                Add <i class="fa fa-plus-circle" aria-hidden="true"></i>

                            </button>
                            <button id="ReloadCompany" class="btn btn-primary pull-left" style="padding: 2px 7px;margin-left: 14px;margin-top: -4px;" type="button">
                                Reload <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content iboxInternal">
                        <div class="Team">
                            <div class="form-group entityField">
                                <label class="col-lg-2 control-label">Company</label>
                                <div class="col-lg-3">
                                    @Html.DropDownList("CompanyID", new SelectList((System.Collections.IEnumerable)ViewData["CompanyList"], "Value", "Text"), "Select Company", new { @class = "form-control", @id = "CompanyID", Title = "CompanyID" })
                                </div>
                                <div class="col-lg-1">
                                    <a class="btn btn-primary" href="AddCompanyInfo?id=0&&i=1" target="_blank">New</a>
                                </div>
                                <label class="col-lg-2 control-label">Designation</label>
                                <div class="col-lg-4" style="display:inline-flex;">
                                    @Html.DropDownList("DesignationId1", new SelectList((System.Collections.IEnumerable)ViewData["TeamDesignationList"], "Value", "Text"), "Select Designation", new { @class = "form-control", @id = "DesignationId1", Title = "DesignationID" })
                                </div>
                            </div>
                            <div class="form-group entityField">
                                <label class="col-lg-2 control-label">Sub Designation</label>
                                <div class="col-lg-4">
                                    @Html.DropDownList("SubdesignationID1", new SelectList((System.Collections.IEnumerable)ViewData["TeamSubDesignationList"], "Value", "Text"), "Select Sub Designation", new { @class = "form-control", @id = "SubDesignationID1", Title = "PersonId" })
                                </div>
                                <label class="col-lg-2 control-label">Sub Designation</label>
                                <div class="col-lg-4" style="display:inline-flex;">
                                    @Html.DropDownList("SubPartDesignationID1", new SelectList((System.Collections.IEnumerable)ViewData["TeamSubPartDesignationList"], "Value", "Text"), "Select Sub Designation", new { @class = "form-control", @id = "SubPartDesignationID1", Title = "DesignationID" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Other</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content ibox-other">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Website</label>
                            <div class="col-lg-10">
                                <input id="pWebsite" type="text" placeholder="Website" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Note</label>
                            <div class="col-lg-10">
                                <textarea id="Note" type="text" value="" placeholder="Note" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            }
                <div class="hr-line-dashed"></div>
                <div class="row form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-8 pull-right">
                        <div class="pull-right">
                            @Html.ActionLink("Cancel", "MemberList", "Master", null, new { @class = "btn btn-white" })
                            <button class="btn btn-primary" id="btnsavePerson" type="button">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">               
                <div class="ibox-content ibox-content1">
                     
                    <div id="CompanyDetailsOuterDiv">
                        <div class="row">

                            <div id="nocontacts" class="CompanyList">

                            </div>
                            <div class="col-sm-12">
                                <table class="table" id="Datails">
                                    <thead>

                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade-in bs-example-modal-md" id="mdlAddCompany" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" style="width:90%;height:600px;overflow:scroll;">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="CompanyInfo"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.person').hide();
        $('.Consultant').hide();
        $('.Contractor').hide();
      
        var StateID1 = $('#ResidentialStateID').val();
        
        $("#RStateID").val(StateID1);
        $('#ReloadCompany').on("click", function (e) {
            GetCompanyNames();  
        }); 
        $.ajax({
            type: 'GET',
            dataType: "text",
            url: '/Master/GetLeftSideForPerson',
            data:
            {
                PersonID: $('#PersonID').val()

            },
            success: function (data) {
                $('.CompanyList').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
        $('#addMultiCertification').on("click", function (e) {

            var PersonID = $('#PersonID').val();
            if (PersonID == 0) {
                var CertificationDetailID = $("#CertificationDetailID").val();
                var CertificationValue = $("#CertificationValue").val();
                var CertificationID = $("#CertificationID option:selected").val();
                var CertificationID_text = $("#CertificationID option:selected").text();
                if (CertificationValue != "" && CertificationID != "") {
                    var bindCertification = '<tr><td class=" MultiCertification" CertificationDetailID="' + CertificationDetailID + '" CertificationID="' + CertificationID + '"  CertificationValue="' + CertificationValue + '" </td><td>' + CertificationID_text + '</td><td>' + CertificationValue + '</td> <td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                    $('#tblCertification').last().append(bindCertification);
                    $("#CertificationDetailID").val(0); 
                    $("select#CertificationID").prop('selectedIndex', 0);
                    $("#CertificationValue").val('');
                }
            }
            else { 
                var CertificationDetailID = $("#CertificationDetailID").val();
                var CertificationValue = $("#CertificationValue").val();
                var CertificationID = $("#CertificationID option:selected").val();
                var CertificationID_text = $("#CertificationID option:selected").text();
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Master/SavePersonCertification',
                    data:
                    {
                          PersonID: PersonID
                        , CertificationID: CertificationID
                        , PersonCertificationsDetailID: CertificationDetailID
                        , Value: CertificationValue 
                    },
                    success: function (da) { 
                        $("#CertificationDetailID").val(0); 
                       
                        $("select#CertificationID").prop('selectedIndex', 0);
                        $("#CertificationValue").val(''); 
                        $.ajax({
                            type: 'GET',
                            dataType: "text",
                            url: '/Master/GetLeftSideForPerson',
                            data:
                            {
                                PersonID: $('#PersonID').val()  
                            },
                            success: function (data) {
                                $('.CompanyList').html(data);
                                $("#CertificationDetailID").val(0);
                                $("select#CertificationID").prop('selectedIndex', 0);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                            }
                        });

                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }

                });
            }
        });
           $('#DesignationId1').change(function ()
        {
            $.ajax({
            url: "@Url.Action("BindTeamSubDesignation", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    DesignationID: $('#DesignationId1').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
                success: function (data) {
                $('#SubDesignationID1').html(data);

            },
            error: function (data) {  
            },
            complete: function () { 
            }

            });
            return true;

        });
         
        $('#SubDesignationID1').change(function ()
        {

            $.ajax({
            url: "@Url.Action("BindTeamSubPartDesignation", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    SubDesignationId: $('#SubDesignationID1').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
                success: function (data) {
                $('#SubPartDesignationID1').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
            return true;

        });
        $('.addMultiMobile').on("click", function (e) {
            var cloneCount = 1;
            $('#rowMobile')
                .clone(true)
                .attr('id', 'row' + cloneCount++, 'class', 'row rowMobilen')
                .insertAfter('[id^=rowMobile]:last').find("input").val("");

            return false;
        });
        $('.addMultiEmail').on("click", function (e) {

            var cloneCount = 1;
            $('#rowEmail')
                .clone(true)
                .attr('id', 'rowEmail' + cloneCount++, 'class', 'row rowEmailn')
                .insertAfter('[id^=rowEmail]:last').find("input").val(""); 
            return false;
        });
        $('.removeMultiMobile').on("click", function (e) {

            var MobileID = $(this).closest(".rowMobile").find("#CompanyPhoneIDValue").val();
            if (MobileID > 0) {

            }
            else {
                var MobileLength = $('.rowMobile').length;
                if (MobileLength > 1) {
                    $(this).closest(".rowMobile").remove();
                }

            }
        });
        $('.removeMultiEmail').on("click", function (e) {

            var MobileID = $(this).closest(".rowEmail").find("#CompanyPhoneIDValue").val();
            if (MobileID > 0) {

            }
            else {
                var MobileLength = $('.rowEmail').length;
                if (MobileLength > 1) {
                    $(this).closest(".rowEmail").remove();
                }

            }
        });
        $('#btnAddNewCompany').on("click", function (e) {

            $.ajax({
                type: 'GET',
                dataType: "text",
                url: '/Master/AddCompanyInfo',

                success: function (data) {
                    $('#CompanyInfo').html(data);
                    $('#mdlAddCompany').show();
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        });
         
             
        $('#TitleId').change(function () {
            $('#showtitle').html($("#TitleId option:selected").text());
                });
                $('#DesignationID').change(function () {
                    $('#showdesignation').html($("#DesignationID option:selected").text());
                });

                $('#shortname').keyup(function () {
                    $('#showshortname').html($('#shortname').val());
                });

                $('#Dob').change(function () {
                    $('#showDOB').html($("#Dob").val());

        });
        $('#addCompany').on("click", function (e) {
             
          
            var CompanyID = $('#CompanyID').val();
           // if (CompanyID == 0) {

                var CompanyID_text = $("#CompanyID option:selected").text(); 
                var DesignationId1 = $("#DesignationId1 option:selected").val();
                var DesignationId1_text = $("#DesignationId1 option:selected").text();
                var SubDesignationID1 = $("#SubDesignationID1 option:selected").val();
                var SubDesignationID1_Text = $("#SubDesignationID1 option:selected").text();
                var SubPartDesignationID1 = $("#SubPartDesignationID1 option:selected").val();
                var SubPartDesignationID1_text = $("#SubPartDesignationID1 option:selected").text();
                if (SubDesignationID1_Text.trim() == "Select Sub Designation") {
                    SubDesignationID1_Text = "";
                }
                if (SubPartDesignationID1_text.trim() == "Select Sub Designation") {
                    SubPartDesignationID1_text = "";
                }
                var binding = '<div class=""><div class="MultiInternalTeam"  CompanyID="' + CompanyID + '" DesignationId1="' + DesignationId1 + '" SubDesignationID1="' + SubDesignationID1 + '" SubPartDesignationID1 ="' + SubPartDesignationID1 + '"> <span id= "ShowCompanyID" class="col-lg-12" style = "overflow-wrap:break-word;" >' + CompanyID_text + '</span>  </div> <div ><span id="showDesignationId1" class="col-lg-12" style="overflow-wrap:break-word;">' + DesignationId1_text + '</span></div><div > <span id="showOfcstate" class="col-lg-12" style="overflow-wrap:break-word;"></span></div><div ><span id="showSubDesignationID1" class="col-lg-12" style="overflow-wrap:break-word;">' + SubDesignationID1_Text + '</span> </div> <div > <span id="showSubPartDesignationID1" class="col-lg-12" style="overflow-wrap:break-word;">' + SubPartDesignationID1_text + '</span></div></div><hr style="margin-top: 11px; margin-bottom: 10px;">';

               // if (InternalPersonId != "" && DesignationId1 != "") {
            $('.CompanyList').last().append(binding);
               
           
                $('#Mobile').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Mobile').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var mobiletext = $('#Mobile').val();
                            var bindrow = '<tr><td class="multimobile">' + mobiletext + '</td><td style="color: darkgray;font-size: smaller;">Mobile</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Mobile').val('');
                        }
                    }
                });

                $('#Phone').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Phone').val().trim() != "")
                        {

                        $('#nocontacts').hide();
                        $('#Conactrow').hide();
                        var Phonetext = $('#Phone').val();
                        var bindrow = '<tr><td class="multiphone">' + Phonetext + '</td><td style="color: darkgray;font-size: smaller;">Phone</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                        $('#Datails tbody').append(bindrow);
                        $('#Phone').val('');
                        }
                    }
                });

                $('#Office').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Office').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var Officetext = $('#Office').val();
                            var bindrow = '<tr><td class="multioffice">' + Officetext + '</td><td style="color: darkgray;font-size: smaller;">Office</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Office').val('');
                        }
                    }
                });

                $('#Email').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Email').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var emailtext = $('#Email').val();
                            var bindrow = '<tr><td class="multiemail">' + emailtext + '</td><td style="color: darkgray;font-size: smaller;">email</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Email').val('');
                        }
                    }
                });

                $('#AdditionalField').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#AdditionalField').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var AdditionalFieldtext = $('#AdditionalField').val();
                            var bindrow = '<tr><td class="multiadditionalfield">' + AdditionalFieldtext + '</td><td style="color: darkgray;font-size: smaller;">Additional field</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#AdditionalField').val('');
                        }
                    }
                });

                $('#Parameter').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Parameter').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var Parametertext = $('#Parameter').val();
                            var bindrow = '<tr><td class="multiparameter">' + Parametertext + '</td><td style="color: darkgray;font-size: smaller;">Parameter</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Parameter').val('');
                        }
                    }
                });

                $(document).on('click', 'i.deleterow', function (e) {
                    e.preventDefault();
                    $(this).parents('tr').remove();
                });


        $('#RStateID').change(function ()
         {
            GetCity(); 
        });
          

        $('#btnsavePerson').on('click', function () {

            var idArrMobile = [];
            $('.rowMobile').each(function (k, v) {

                var MobileNo = $(this).closest("div").find("#PMobile").val();
                var MobileType = $(this).closest("div").find("#MobileType").val();
                var Department = $(this).closest("div").find("#pDepartment option:selected").val();
                var tdVals = MobileNo + "~" + MobileType + "~" + Department ;
                // var tdVals = $(this).text();
                idArrMobile.push(tdVals);

            });

            


           // Adding multipal Contact No into array
            var idArrContactPerson = [];
            $('.multiperson').each(function (k, v) {
                var tdVals = $(this).text();
                idArrContactPerson.push(tdVals);
            });

            var SaveMobilePerson = [];
            for (var i = 0; i < idArrMobile.length; i++) {
                var arrElement = idArrMobile[i].split("~");
                item = {}
                item["Value"] = arrElement[0];
                item["Type"] = arrElement[1];
                item["DepartmentID"] = arrElement[2];
                SaveMobilePerson.push(item);
            }


            
            //Adding OfficeNo into array
            var idArrOffice = [];
            $('.multioffice').each(function (k, v) {
                var tdVals = $(this).text();
                idArrOffice.push(tdVals);
            });

            var SaveOfficeNo = [];
            for (var i = 0; i < idArrOffice.length; i++) {
                var arrElement = idArrOffice[i].split("~");
                item = {}
                item["OfficeNo"] = arrElement[0];
                SaveOfficeNo.push(item);
            }


            //Adding Email into array
            var idArrEmail = [];
            $('.multiemail').each(function (k, v) {
                var tdVals = $(this).text();
                idArrEmail.push(tdVals);
            });

            var SaveEmail = [];
            for (var i = 0; i < idArrEmail.length; i++) {
                var arrElement = idArrEmail[i].split("~");
                item = {}
                item["Email"] = arrElement[0];
                SaveEmail.push(item);
            }

            //Adding AdditionFileds into array
            var idArrAdditionField = [];
            $('.multiadditionalfield').each(function (k, v) {
                var tdVals = $(this).text();
                idArrAdditionField.push(tdVals);
            });

            var SaveAdditionalFiled= [];
            for (var i = 0; i < idArrAdditionField.length; i++) {
                var arrElement = idArrAdditionField[i].split("~");
                item = {}
                item["AdditionlField"] = arrElement[0];
                SaveAdditionalFiled.push(item);
            }


            //Adding Parameter into array
            var idArrParameter = [];
            $('.multiparameter').each(function (k, v) {
                var tdVals = $(this).text();
                idArrParameter.push(tdVals);
            });

            var SaveParameter = [];
            for (var i = 0; i < idArrParameter.length; i++) {
                var arrElement = idArrParameter[i].split("~");
                item = {}
                item["Parameter"] = arrElement[0];
                SaveParameter.push(item);
            }

            //Adding Member into array
            var idArrMember = [];
            $('.multimember').each(function (k, v) {
                var tdVals = $(this).text() + "~" + $(this).attr("id");
                idArrMember.push(tdVals);
            });

            var SaveMemberPerson = [];
            for (var i = 0; i < idArrMember.length; i++) {
                var arrElement = idArrMember[i].split("~");
                item = {}
                item["PersonMemberID"] = arrElement[0];
                item["DesignationId"] = arrElement[1];
                SaveMemberPerson.push(item);
            }

            var TypeId = 0;

            if ($("#memberid option:selected").val() == 2) {
                TypeId = $("#ConsultantTypeID option:selected").val();
            }
            else if ($("#memberid option:selected").val() == 3) {
                TypeId = $("#ContractorTypeId option:selected").val();
            }

            //Adding multipal Internal Team into array
            var idArrInternalTeam = [];
            $('.MultiInternalTeam').each(function (k, v) {
                var tdVals = $(this).attr("companyid") + "~" + $(this).attr("designationid1") + "~" + $(this).attr("subdesignationid1") + "~" + $(this).attr("subpartdesignationid1");
                idArrInternalTeam.push(tdVals);
            });

            var SaveCompanyList = [];
            for (var i = 0; i < idArrInternalTeam.length; i++) {
                var arrElement = idArrInternalTeam[i].split("~");
                item = {} 
                item["Listid"] = 0;
                item["companyid"] = arrElement[0];
                item["designationid1"] = arrElement[1];
                item["subdesignationid1"] = arrElement[2];
                item["subpartdesignationid1"] = arrElement[3];
                SaveCompanyList.push(item);
            }

            //Adding multipal certification into array
            var idArrCertification = [];
            $('.MultiCertification').each(function (k, v) {
                var tdVals = $(this).attr("certificationdetailid") + "~" + $(this).attr("certificationid") + "~" + $(this).attr("certificationvalue");
                idArrCertification.push(tdVals);
            });

            var SaveCertification = [];
            for (var i = 0; i < idArrCertification.length; i++) {
                var arrElement = idArrCertification[i].split("~");
                item = {}
                item["certificationdetailid"] = arrElement[0];
                item["certificationid"] = arrElement[1];
                item["Value"] = arrElement[2];

                SaveCertification.push(item);
            }
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Master/SavePersonInfo',
                data:
                {
                    PersonID: $('#PersonID').val(),
                    TitleID: $("#TitleId option:selected").val(),
                    fName: $('#fName').val(),
                    mName: $('#mName').val(),
                    lName: $('#lName').val(),
                    ShortName: $('#Pshortname').val(),
                    Website: $('#pWebsite').val(),
                    BirthDate: $('#pDob').val(),
                    ResidentialAddress1  :$('#RAddress1').val(),
                    ResidentialAddress2  : $('#RAddress2').val(),
                    ResidentialStateID   : $('#RStateID').val(),
                    ResidentialDistrict  : $('#RDistrict').val(),
                    ResidentialCityID    : $('#RCityID ').val(),
                    ResidentialZipCode   : $('#RZip').val(),
                    CreatedDate: $('#RequestDate').val(),
                    SaveMobilePerson: SaveMobilePerson,
                    SaveAdditionalFiled: SaveAdditionalFiled,
                    SaveParameter: SaveParameter,
                    SaveCompanyList: SaveCompanyList,
                    SaveCertification: SaveCertification
                },
                success: function (da) {
                    if (da == "Success") {
                        location.href = "PersonList";
                    }
                 },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });

        });
        function GetCity() {
             $.ajax({
            url: "@Url.Action("FliterStateWiseCity", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    StateID: $('#RStateID').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#RCityID').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
            return true;
        }
         function GetCompanyNames() {
             
            $.ajax({
            url: "@Url.Action("BindCompanyNames", "Master")",
            contentType: "application/json",
            //    data: JSON.stringify({
            //        SubDesignationId: $('#SubDesignationID1').val(),
            //}),
            dataType: "text",
            type: "POST",
            async: false,
                success: function (data) {
                    $('#CompanyID').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
            return true;
        }
    });


</script>
