
@model  IEnumerable<office.Models.DataTemplateList>
@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table scroll-x">
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <input type="checkbox" name="newsletter" class="i-checks chkTemplate" id="@item.DTTemplateID" value="@item.DTTemplateID">

                </td> 
                <td>
                    <a class="DTTemplateID" id="@item.DTTemplateID" name="@item.DTTemplateID" value="@item.DataTemplateName">
                        @item.DataTemplateName
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
   
</div>
<script src="~/js/jquery-2.1.1.js"></script>
