
@model  office.Models.DocTemplateList

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/css/style.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close">&times;</button>
    <h4 class="modal-title">Generate Document</h4>
    
        <div class="pull-right">
            <button class="btn btn-primary" id="btnCompare" type="button"> Compare Template</button>

        </div>
     
</div>

<div class="modal-body">
    <div class="wrapper wrapper-content1">

        <div>

            <div class="row" id="TemplateData">
                <div class="col-md-3">
                    <div class="timeline-row post-even">
                        <div class="ibox" style="height: 755px;">
                            <div class="ibox-title">
                                <h2 class="text-success no-margin headingsize18"> Data Template  </h2>
                                <hidden id="hdnTemplateID" value="@Model.TemplateID"></hidden>
                            </div>
                            <div class="ibox-content" id="DataTemplateList">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="timeline-row post-even">
                        <div class="ibox" style="height: 755px;">
                            <div class="ibox-title">
                                <h2 class="text-success no-margin headingsize18"> Placeholder Data  </h2>
                            </div>
                            <div class="ibox-content" id="ProjectGrid">
                                <div class="table-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="loader"></div>
    <input type="text" id="saveuserid" value="" class="hidden" />
    <input type="text" id="saveusername" value="" class="hidden" />
    <input type="text" id="saverolename" value="" class="hidden" />
    <hr />
    <script src="~/js/jquery-2.1.1.js"></script>
 
    <script>
       
    $(document).ready(function () {
        $('.close').on("click", function (e) {
            $('#mdlGenerate').hide();
        });
       
        
        var TemplateID = @ViewData["TemplateID"];
             $.ajax({
                url: "@Url.Action("GetProjectData", "Template")",
                data:
                {
                    TemplateID: TemplateID,
                    DTTemplateID : 0,
                    ProjectID : 14

                },
                dataType: "text",

                success: function (data) {
                    $('#ProjectGrid').html(data);
                    $('#hdnTemplateID').val(TemplateID);
                },
                error: function (error) {
                    eval(error);
                }
            });

             $.ajax({
                url: "@Url.Action("GetDataTemplateList", "Template")",
                data:
                {
                    ProjectID: 14,
                },
                dataType: "text",

                success: function (data) {

                    $('#DataTemplateList').html(data);
                },
                error: function (error) {
                    eval(error);
                }
        });


    });
    </script>
    <script>
    $("#btnCompare").on("click", function (e) {

        var chkArray = [];

        $(".chkTemplate:checked").each(function () {
            chkArray.push($(this).val());
        });
        var selected;
        selected = chkArray.join(',');
        //if (selected.length > 0) {
        //    alert("You have selected " + selected);
        //} else {
        //    alert("Please at least check one of the checkbox");
        //}
         var TemplateID = @ViewData["TemplateID"];
         $.ajax({
                url: "@Url.Action("CompareDataTemplates", "Template")",
                data:
                {
                    TemplateID: TemplateID,
                    DTTemplateIDList: selected,
                    ProjectID : 14

                },
                dataType: "text",

                success: function (data) {
                    $('#TemplateData').html(data);
                   
                },
                error: function (error) {
                    eval(error);
                }
            });
    });
    </script>