
@model office.Models.ProjectsData
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html

@{
    ViewBag.Title = "Project";
    Layout = null;
}

<script src="~/js/jquery-2.1.1.js"></script>


@Html.HiddenFor(a => a.DTTemplateID, new { @id = "DTTemplateID" })
@Html.HiddenFor(a => a.TemplateID, new { @id = "TemplateID1" })
@Html.HiddenFor(a => a.ProjectID, new { @id = "ProjectID" })
@Html.HiddenFor(a => a.Name, new { @id = "ProjectName" })

@Html.HiddenFor(a => a.ShortName, new { @id = "ShortName" })
@Html.HiddenFor(a => a.Goan, new { @id = "Goan" })
@Html.HiddenFor(a => a.Goan, new { @id = "Goan" })
@Html.HiddenFor(a => a.Road, new { @id = "Road" })
@Html.HiddenFor(a => a.Taluka, new { @id = "Taluka" })
@Html.HiddenFor(a => a.District, new { @id = "District" })
@Html.HiddenFor(a => a.Duration, new { @id = "Duration" })

<div class="row" id="TemplateData">
    @Html.HiddenFor(a => a.TemplateID, new { @id = "TemplateID" })
   
    <div class="ibox-content">

        <div class="row">
            <input id="DataTemplateName" type="text" placeholder="DataTemplate Name" value="@Model.DataTemplateName" class="form-control">
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h5 class="help-block m-b-none">Project : @Model.Name <small> @Model.ShortName</small></h5>

                <hr style="margin-top: 11px; margin-bottom: 10px;" />
            </div>
        </div>
        
    </div>



        <div >
            <div class="ibox-title" style="display:table-row;">
                <label> Developers</label>

            </div>
            <div class="Row">
                <table class="table" id="developerlist" style="margin-bottom: 0px!important">

                    <tbody>
                        @if (Model.DeveloperDatalist != null)
                        {
                            foreach (var item in Model.DeveloperDatalist)
                            {
                                <tr>
                                    <td>
                                        <div class="" style="margin-left: 0!important">


                                            @if (item.isDeveloperApplied == true)
                                            {
                                                <input type="checkbox" class="i-checks chkdev" divName="checkboxDiv_@item.DeveloperId" checked="checked" id="@item.DeveloperId">

                                            }
                                            else
                                            {
                                                <input type="checkbox" class="i-checks chkdev" name="sDev" id="@item.DeveloperId">
                                                <div id="checkboxDiv_@item.DeveloperId" class="checkboxDiv">

                                                </div>
                                            }


                                        </div>
                                    </td>
                                    <td class="hidden multideveloper" id="@item.OwnershipId">@item.DeveloperId</td>
                                    <td>@item.Name</td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @*<div class="ibox-content">
            <div class="ibox-title" style="display:table-row;">
                <label> Coordinator</label>

            </div>
            <div class="Row">
                <table class="table" id="Coordinatorlist" style="margin-bottom: 0px!important">
                    <thead>

                    </thead>
                    <tbody>
                        @if (Model.CoordinatorDetailsData != null)
                        {
                            foreach (var item in Model.CoordinatorDetailsData)
                            {
                                <tr>
                                    <td>
                                        <div class="" style="margin-left: 0!important">
                                            <div>

                                                @if (item.isCoordinatorApplied == true)
                                                {
                                                    <input type="checkbox" class="i-checks chkCoOrdinator" checked="checked" id="@item.CoordinatorId">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="i-checks chkCoOrdinator" id="@item.CoordinatorId">
                                                }


                                            </div>

                                        </div>

                                    </td>

                                    <td class="hidden multidevelopercontactperson">@item.CoordinatorDetailId</td>
                                    <td>
                                        @item.FullName

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>




        <div class="ibox-content">
            <div class="ibox-title" style="display:table-row;">
                <label> Assistant List</label>

            </div>
            <div class="Row">
                <table class="table" id="assistantlist" style="margin-bottom: 0px!important">
                    <thead>

                    </thead>
                    <tbody>
                        @if (Model.AssistantDetailsData != null)
                        {
                            foreach (var item in Model.AssistantDetailsData)
                            {
                                <tr>
                                    <td>
                                        <div class="" style="margin-left: 0!important">
                                            <div>

                                                @if (item.isAssistantApplied == true)
                                                {
                                                    <input type="checkbox" class="i-checks chkAss" checked="checked" id="@item.AssistantId">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="i-checks chkAss" id="@item.AssistantId">
                                                }


                                            </div>

                                        </div>

                                    </td>

                                    <td class="hidden multiassistant">@item.AssistantDetailId</td>
                                    <td>
                                        @item.FullName

                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ibox-content">
            <div class="ibox-title" style="display:table-row;">
                <label> Developer Side Contact Persons</label>

            </div>
            <div class="Row">
                <table class="table" id="DeveloperSidContact" style="margin-bottom: 0px!important">
                    <thead>

                    </thead>
                    <tbody>
                        @if (Model.DeveloperSideContactPersons != null)
                        {
                            foreach (var item in Model.DeveloperSideContactPersons)
                            {
                                <tr>
                                    <td>
                                        <div class="" style="margin-left: 0!important">
                                            <div>

                                                @if (item.isContactApplied == true)
                                                {
                                                    <input type="checkbox" class="i-checks chkdevSide" checked="checked" id="@item.DeveloperContactPersonId">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="i-checks chkdevSide" id="@item.DeveloperContactPersonId">
                                                }


                                            </div>

                                        </div>

                                    </td>

                                    <td class="hidden multidevelopercontactperson">@item.DeveloperContactPersonId</td>
                                    <td>
                                        @item.DeveloperContactPersonName

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="ibox-content">
            <div class="ibox-title" style="display:table-row;">
                <label> Office Side Contact Persons</label>

            </div>
            <div class="Row">
                <table class="table" id="DeveloperSidContact">
                    <thead>

                    </thead>
                    <tbody>

                        @if (Model.OfficeSideContactPersons != null)
                        {
                            foreach (var item in Model.OfficeSideContactPersons)
                            {
                                <tr>
                                    <td>
                                        <div class="" style="margin-left: 0!important">
                                            <div>

                                                @if (item.isContactApplied == true)
                                                {
                                                    <input type="checkbox" class="i-checks chkOfficeSide" checked="checked" id="@item.OfficeContactPersonId">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="i-checks chkOfficeSide" id="@item.OfficeContactPersonName">
                                                }
                                            </div>
                                        </div>
                                    </td>

                                    <td class="hidden multidevelopercontactperson">@item.OfficeContactPersonId</td>
                                    <td>
                                        @item.OfficeContactPersonName

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <div class="ibox-content">
            <div class="ibox-title">
                <label>Custom Field</label>
            </div>
            <div class="col-sm-12">
                @if (Model.OfficeSideContactPersons != null)
                {
                    foreach (var item in Model.CustomPlaceholders)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                @item.PlaceHolderName
                            </div>
                            <div class="col-md-8">

                                <input type="text" id="@item.PlaceHolderName" fid="@item.FieldID" class="form-control CustomFieldName" fVal="@item.Value" value="@item.Value" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>


        *@
        
    </div>
 
<script>
            function getSearchParams(k) {
                var p = {};
                location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (s, k, v) { p[k] = v })
                return k ? p[k] : p;
            }

            $(document).ready(function () {
                var TemplateID = $('#TemplateID').val();

                $('.DTTemplateID').on("click", function (e) {

            var TemplateID = $('#TemplateID').val();
             var DTTemplateID = this.id;
            $.ajax({
                url: "@Url.Action("GetProjectData", "Template")",
                data:
                {
                    TemplateID: TemplateID,
                    DTTemplateID: DTTemplateID,
                    ProjectID: $('#ProjectID').val()
                },
                dataType: "text",
                success: function (data) {
                    $('#ProjectGrid').html(data);
                    $('#hdnTemplateID').val(TemplateID);
                },
                error: function (error) {
                    eval(error);
                }
            });

        });
        $('#btnGenerateDocument').on("click", function (e) {

            var TemplateID = $('#hdnTemplateID').val();
           var DtTemplateID = $('#DTTemplateID').val();

            $.ajax({
                url: "@Url.Action("ReplacePlaceholderByDataTemplate", "Template")",
                data:
                {
                    TemplateID: TemplateID,
                    DtTemplateID: DtTemplateID,
                },
                dataType: "text",

                success: function (data) {

                    $('#TemplateData').html(data);
                },
                error: function (error) {

                }
            });
        });

        $('#btnGenerateDataTemplate').on("click", function (e) {
             var TemplateID = $('#TemplateID').val();
            var DTTemplateID = $('#DTTemplateID').val();
            var DataTemplateName = $('#DataTemplateName').val();

            var devid = 0;
            var CoOrdinatorID = 0;
            var AssistanceID = 0;
            var contractorID = 0;
            var ConsultantId = 0;
            var AssistanceID = 0;
            $(".chkdev:checkbox:checked").each(function () {
                devid = $(this).attr("id");
            });
            $(".chkCoOrdinator:checkbox:checked").each(function () {
                CoOrdinatorID = $(this).attr("id");
            });
            $(".chkAss:checkbox:checked").each(function () {
                AssistanceID = $(this).attr("id");
            });

            //for custom field

            var idArrCustomField = [];
            $('.CustomFieldName').each(function (k, v) {
              //  var fid = $(this).attr("fid");
                var fid = $(this).attr("fid") + "~" + $(this).val();
               // var fVal = $(this).attr("fVal");
                idArrCustomField.push(fid);
            });
            var SaveCustomField = [];
            for (var i = 0; i < idArrCustomField.length; i++) {
                var arrElement = idArrCustomField[i].split("~");
                item = {}
                item["FieldID"] = arrElement[0];
                item["Value"] = arrElement[1];
                SaveCustomField.push(item);
            }

            //end custom field
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Template/GenerateDataTemplate',
                data:
                {

                    DTTemplateID: DTTemplateID,
                    ProjectID: $('#ProjectID').val(),
                    DeveloperID: devid ,
                    CoOrdinatorID: CoOrdinatorID,
                    ConsultantId: ConsultantId,
                    contractorID: contractorID,
                    AssistanceID: AssistanceID,
                    DataTemplateName: DataTemplateName,
                    TemplateID: TemplateID,
                    SaveCustomField: SaveCustomField
                },
                success: function (data) {
                    $.ajax({
                        url: "@Url.Action("GenerateDocument", "Template")",
                        data:
                        {
                            id: TemplateID
                        },
                        dataType: "text",

                        success: function (data) {

                            $('#mdlGeneratemodel').html(data);
                        },
                        error: function (error) {
                            eval(error);
                        }
                    });
                    alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });

        });


    });

</script>


